@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+GB+S+Guides:ital@0;1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1240f0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 2.5rem;
    color: #124fff;
    margin: 20px;
}

/* .subtitle{
    font-size: 1.5rem;
    color: #666000;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
} */

.counter{
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto 50px;
    text-align: center;
    background-color: #124fff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.step-row {
    display: block;
    color: #666;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
}
#stepInput {
    width: 60px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    flex: 1;
    padding: 12px 0;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.756);
    transform: translateY(-2px);
    opacity: 0.9;
}

.btn-decrease {
    background-color: #d63031;
}

.btn-increase {
    background-color: #00b894;
} 

.hint {
    color: #daa303;
    background-color: #f3f5ff;
    font-size: 13px;
    min-height: 18px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    width: 300px;
    height: auto;
    font-weight: bold;
}